# Pandas 数据结构

## Series 数据结构

### Series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# -*- coding: utf-8 -*-

In [34]:
s1 = pd.Series(["a", "b", "c", "d"]) #默认从0开始的数做数据标签
s2 = pd.Series(["a", "b", "c", "d"], index = [1, 2, 3, 4]) #使用index参数来自定义索引
print(s1)
s3 = pd.Series({"a":1, "b":2, "c":3, "d":4}) #key是数据标签，value是数据值
print(s3)
print(s1.index)
print(s1.values)

0    a
1    b
2    c
3    d
dtype: object
a    1
b    2
c    3
d    4
dtype: int64
RangeIndex(start=0, stop=4, step=1)
['a' 'b' 'c' 'd']

### DataFrame

In [35]:
df1 = pd.DataFrame(["a", "b", "c", "d"]) #从0开始的默认索引
print(df1)
df2 = pd.DataFrame([("A", "a"),("B", "b"), ("C", "c"),("D", "d")])
print(df2)
df3 = pd.DataFrame([("A", "a"),("B", "b"), ("C", "c"),("D", "d")], #设置columns参数自定义列索引，设置index参数自定义
                  columns = ["小写", "大写"],
                  index = ["第一行", "第二行", "第三行", "第四行"])
print(df3)
data = {"小写":["a","b","c","d"], "大写":["A", "B", "C", "D"]} #直接以字典的形式传入DataFrame时，字典的key值就相当于列索引，
#这个时候如果没有设行索引，行索引还是使用从0开始的默认索引，同样可以使用index参数自定义行索引
df4 = pd.DataFrame(data, index=["第一行","第二行","第三行","第四行"])
print(df4)
print(df4.columns) #获取列索引
print(df4.index) #获取行索引

   0
0  a
1  b
2  c
3  d
   0  1
0  A  a
1  B  b
2  C  c
3  D  d
    小写 大写
第一行  A  a
第二行  B  b
第三行  C  c
第四行  D  d
    小写 大写
第一行  a  A
第二行  b  B
第三行  c  C
第四行  d  D
Index(['小写', '大写'], dtype='object')
Index(['第一行', '第二行', '第三行', '第四行'], dtype='object')

## 获取数据源

In [2]:
#df = pd.read_excel(r"C:\Users\liuyating\Desktop\test.xlsx")，电脑中的文件路径默认使用\，这时候需要在路径前面加一个r（转义符）避免
#路径里的\被转义。也可以不加r，但是需要把路径里面的所有的\转换成/，这个规则在其他格式文件时也是一样的
#如果是CSV(逗号分隔)(*.csv)格式的文件，那么在导入的时候就需要把编码格式更改为gbk，如果使用UTF-8就会报错
df = pd.read_csv("/Users/liuyating/Desktop/资料/计算机网课/对比Excel,轻松学习Python数据分析数据集/train-pivot.csv", encoding = "gbk")

In [38]:
#df.columns = ["", "", "", ""] #添加列索引 
#df.index = ["", "", "", ""] #添加行索引
df.set_index("用户ID") #重置索引时，可以传入多个列名
df.reset_index(level=0, drop=False, inplace=False) #将层次化索引的第0级转化为columns，drop默认为False，不删除原索引，并加入新的columns，
#inplace默认为False，用来指定是否修改原数据表
df.rename(columns = {"客户分类":"新客户分类", "区域":"所在的区域"}, index = {0:"第0行", 1:"第一行", 2:"第二行"})
print(df.head(3)) #只展示前三行
print(df.shape) #不会把行索引和列索引计算在内
print(df.info()) #整个表中所有列的数据类型
print(d["订单编号"].dtype) #查看订单编号这一列的数据类型
df[""].astype("float64") #将唯一识别码从int类型转换为float类型
print(df.describe()) #所有数值类型字段的分布值
print(df.isnull()) #我们可以用isnull()方法来判断哪个值是缺失值，如果是缺失值则返回True
print(df.dropna())#dropna方法默认删除含有缺失值的行，也就是只要某一行有缺失值就把这一行删除，返回删除后的数据
print(df.dropna(how = "all"))#只删除那些全为空值的行，不全为空值的行就不会被删除
print(df.fillna({"性别":"男","年龄":30})) #对性别和年龄的缺失值填充
print(df.drop_duplicates(subset=["客户姓名","唯一识别码"], keep="last"))#按姓名和唯一识别码去重，参数keep默认值是first，即保留第一个值；也可以是last，保留最后一个值；还可以是False，即把重复值全部删除

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是     6    20     0
1  55295   B类  三线城市    否    37    27    35
2  46035   A类  二线城市    是     8     1     8
(6, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   用户ID    6 non-null      int64
 1   客户分类    6 non-null      object
 2   区域      6 non-null      object
 3   是否省会    6 non-null      object
 4   7月销量    6 non-null      int64
 5   8月销量    6 non-null      int64
 6   9月销量    6 non-null      int64
dtypes: int64(4), object(3)
memory usage: 464.0+ bytes
None

## 数据选择

In [10]:
df[["订单编号","客户姓名"]] #普通索引，多个列名用1个list存起来
df.loc[[0,1], ["客户分类","是否省会"]] #行索引的名称+列索引的名称，选择第一行和第二行，第一列和第二列
df.iloc[[0,1], [0,2]] #选择第一行和第二行，第一列，第二列和第三列
df.iloc[0:3] #选择前3行
df.iloc[:, 0:4] #切片索引，第一列至第三列
df[df["是否省会"]=="是"][["用户ID","客户分类"]] #省会城市的用户ID和客户分类
df[(df["是否省会"]=="是") & (df["7月销量"]>5)] #省会城市中7月销量>5的记录

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是     6    20     0
1  55295   B类  三线城市    否    37    27    35

## 数值操作

In [25]:
df["7月销量"].replace(6, 100, inplace=False) #对"7月销量"这一列进行替换
df["7月销量"].replace([6, 37], 100, inplace=False) #对"7月销量"这一列进行替换
df.replace({"6":"10", "50":"37"}) #多对多替换，用10替换6，用37替换50
df.replace(np.NaN, 0) #对全表的缺失值进行替换，类似fillna()

0    100
1     37
2      8
3      7
4      9
5     42
Name: 7月销量, dtype: int64

## 数值排序

In [6]:
df.sort_values(by=["7月销量", "8月销量"], ascending=[False, True], na_position="first") #ascending参数默认值为True，表示升序排列
#na_position默认参数值为"last"，表示将缺失值显示在最后
df["7月销量"].rank(method = "first", ascending=False)
'''
method    说明
average    与excel中RANK.AVG函数的功能一样
first    按值在所有的待排列数据中出现的先后数据排名
min    与Excel中RANK.EQ函数的功能一样
max    与min相反，取重复值对应的最大排名
'''

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
5  22557   A类  二线城市    是    42    20    55
1  55295   B类  三线城市    否    37    27    35
4  22179   B类  三线城市    否     9    12     4
2  46035   A类  二线城市    是     8     1     8
3   2459   C类  一线城市    是     7     8    14
0  59224   A类  一线城市    是     6    20     0

## 数值删除

In [ ]:
df.drop(["用户ID", "客户分类"], axis=1) #axis=1表示列，axis=0表示行
df.drop(df.columns[[4, 5]], axis=1)
df.drop(df.index[[0, 1]], axis=0)
df.drop(columns=["用户ID", "客户分类"]) #将列名以列表的形式传给columns时，不需要axis参数
df[df["8月销量"]<30] #要删除8月销量大于等于30的行，我们并不直接删除这一部分，而是把它的相反部分取出来，即把8月销量大于30的行筛选出来作为新的数据源
df["区域"].unique() #获取非重复值

## 数值查找

In [ ]:
df["年龄"].isin([31,32]) #针对某列查找
df.isin(["A2", 31]) #针对全表查找